@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins", sans-serif;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, pink, violet, skyblue, orange);
    border-radius: 10px;
    
    background-clip: padding-box; /* Ensures gradient is visible */
    transition: background 5s ease;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, violet, pink, orange, skyblue);
    transition: background 5s ease;
}
